<nav class="navbar navbar-expand-lg navbar-dark custom-navbar-bg fixed-top" style="height: 110px">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 me-auto" href="{% url 'home' %}">Colegio Fontan</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
        {% if user.is_authenticated %}
        <li class="nav-item me-3">
          <a class="nav-link me-3" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        <li class="nav-item me-3">
          <form class="d-flex" action="{% url 'search' %}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Buscar Estudiante" aria-label="Search" name="query">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item me-3">
          <a class="nav-link me-3" href="{% url 'register' %}">Regístrate</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link ms-3" href="{% url 'home' %}">Ingresa</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>