{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ Estudiante.nombre}} 
		{{Estudiante.apellido}}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Identificacion: </strong>{{ Estudiante.cedula }}</p>

<p class="card-text">
<strong>Edad: </strong>{{ Estudiante.edad }}
</p>

<p class="card-text">
<strong>ID: </strong>{{ Estudiante.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' Estudiante.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' Estudiante.id %}" class="btn btn-danger">Editar</a>

		

{% endblock %}